In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectFromModel
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier

pd.set_option('display.max_columns', 100)

In [3]:
train = pd.read_csv('../Data/competition_data/train_set.csv')
test = pd.read_csv('../Data/competition_data/test_set.csv')

In [4]:
train.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561

In [5]:
train.tail()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost
30208,TA-21190,S-0041,2013-09-10,869,75,No,75,5.945260
30209,TA-21191,S-0041,2013-09-10,752,1,No,1,6.131658
30210,TA-21195,S-0041,2013-08-05,1,80,No,80,5.066130
30211,TA-21196,S-0062,2005-05-09,422,1,No,1,18.214141
30212,TA-21197,S-0026,2009-07-30,3,1,No,1,53.618624

In [6]:
train.shape

(30213, 8)

In [7]:
train.drop_duplicates()
train.shape

(30213, 8)

In [8]:
test.shape

(30235, 8)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30213 entries, 0 to 30212
Data columns (total 8 columns):
tube_assembly_id      30213 non-null object
supplier              30213 non-null object
quote_date            30213 non-null object
annual_usage          30213 non-null int64
min_order_quantity    30213 non-null int64
bracket_pricing       30213 non-null object
quantity              30213 non-null int64
cost                  30213 non-null float64
dtypes: float64(1), int64(3), object(4)
memory usage: 1.8+ MB